{% extends 'video_app/base.html' %}
{% load static %}
{% block main %}
<div class="mainText">
    Загрузите видео в эту форму
</div>
<div>
    <form enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="progress-wrapper">
            <div id="progress-bar-file" class="progress"> </div>
        </div>
        <button type="button" id="load_button">Отправить</button>
    </form>
</div>
<script src="{% static 'video_app/js/script.js' %}"></script>
{% endblock %}