.mainText {
    color:blue;
}

.progress-wrapper {
    width:100%;
}
.progress-wrapper .progress {
    background-color:green;
    width:0%;
    padding:5px 0px 5px 0px;
}

/* .table {  display:flex;
}
.table-row {
  display:flex;
  flex-direction: column;
  flex-wrap:      wrap;
}
.table-elem {
  border: 1px solid red;
} */
