{% extends 'video_app/base.html' %}

{% block main %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Авторизация</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div>
                        <div class="mb-3">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Войти</button>
                    </form>
                    <div class="text-center mt-3">
                        <a href="{% url 'register-page' %}">Нет аккаунта?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
